/*css重置*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  background-color: #000;
}
.pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pages .pic {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: #60deed;
}
.pages .pic .pwra {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.pages .pic .pwra img {
  display: block;
  position: absolute;
}
.pages .pic .pwra:nth-child(1) img {
  width: 60%;
}
.pages .pic .pwra:nth-child(2) img {
  width: 50%;
  top: 20%;
  left: 40%;
}
.pages .pic .pwra:nth-child(3) img {
  width: 20%;
  top: 35%;
  left: 30%;
}
.newpages {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
}
.newpages .bwra {
  width: 50%;
  height: 80%;
  position: absolute;
  left: 25%;
  overflow: hidden;
}
.newpages .bwra .pic {
  position: absolute;
  width: 120%;
  height: 100%;
  left: -10%;
  background-color: #60deed;
}
.newpages .bwra .pic .pwra {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.newpages .bwra .pic .pwra img {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.newpages .bwra .pic .pwra:nth-child(1) img {
  bottom: 4%;
}
.newpages .bwra .pic .pwra:nth-child(2) img {
  bottom: 2%;
}
.newpages .bwra .pic .pwra:nth-child(3) img {
  bottom: 0%;
}
.newpages .bwra .pic .pwra:nth-child(4) img {
  bottom: -2%;
}
